{
  "openapi": "3.0.1",
  "info": {
    "title": "STAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://stapi.co/api/v1/rest"
    }
  ],
  "paths": {
    "/animal": {
      "get": {
        "tags": [
          "Animal"
        ],
        "description": "Retrival of a single animal",
        "summary": "getting animals",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "Animal unique ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for single animal query",
                  "properties": {
                    "animal": {
                      "type": "object",
                      "description": "Full animal, returned when queried using UID",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "Animal unique ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Animal name"
                        },
                        "earthAnimal": {
                          "type": "boolean",
                          "description": "Whether it's an earth animal"
                        },
                        "earthInsect": {
                          "type": "boolean",
                          "description": "Whether it's an earth insect"
                        },
                        "avian": {
                          "type": "boolean",
                          "description": "Whether it's an avian"
                        },
                        "canine": {
                          "type": "boolean",
                          "description": "Whether it's a canine"
                        },
                        "feline": {
                          "type": "boolean",
                          "description": "Whether it's a feline"
                        }
                      },
                      "required": [
                        "uid",
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Error object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      }
    },
    "/animal/search": {
      "get": {
        "tags": [
          "Animal"
        ],
        "description": "Pagination over animals",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Zero-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for animals search",
                  "properties": {
                    "page": {
                      "type": "object",
                      "description": "Object describing response page",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "description": "Zero-based page number",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size",
                          "format": "int32"
                        },
                        "numberOfElements": {
                          "type": "integer",
                          "description": "Number of elements in page",
                          "format": "int32"
                        },
                        "totalElements": {
                          "type": "integer",
                          "description": "Total elements found",
                          "format": "int32"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages found",
                          "format": "int32"
                        },
                        "firstPage": {
                          "type": "boolean",
                          "description": "Whether it is the first page"
                        },
                        "lastPage": {
                          "type": "boolean",
                          "description": "Whether it is the last page"
                        }
                      }
                    },
                    "sort": {
                      "type": "object",
                      "description": "Response sort",
                      "properties": {
                        "clauses": {
                          "type": "array",
                          "description": "List of response sort rules",
                          "items": {
                            "type": "object",
                            "description": "Single response sort clause",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Field name results are sorted by"
                              },
                              "direction": {
                                "type": "string",
                                "description": "Sort direction",
                                "enum": [
                                  "ASC",
                                  "DESC"
                                ]
                              },
                              "clauseOrder": {
                                "type": "integer",
                                "description": "Order in which this clause was applied"
                              }
                            },
                            "required": [
                              "name",
                              "direction",
                              "clauseOrder"
                            ]
                          }
                        }
                      }
                    },
                    "animals": {
                      "type": "array",
                      "description": "List of animals matching given criteria",
                      "items": {
                        "type": "object",
                        "description": "Base animal, returned in search results",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "Animal unique ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Animal name"
                          },
                          "earthAnimal": {
                            "type": "boolean",
                            "description": "Whether it's an earth animal"
                          },
                          "earthInsect": {
                            "type": "boolean",
                            "description": "Whether it's an earth insect"
                          },
                          "avian": {
                            "type": "boolean",
                            "description": "Whether it's an avian"
                          },
                          "canine": {
                            "type": "boolean",
                            "description": "Whether it's a canine"
                          },
                          "feline": {
                            "type": "boolean",
                            "description": "Whether it's a feline"
                          }
                        },
                        "required": [
                          "uid",
                          "name"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Error object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      },
      "post": {
        "tags": [
          "Animal"
        ],
        "description": "Searching animals",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Zero-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Animal name"
                  },
                  "earthAnimal": {
                    "type": "boolean",
                    "description": "Whether it should be an earth animal"
                  },
                  "earthInsect": {
                    "type": "boolean",
                    "description": "Whether it should be an earth insect"
                  },
                  "avian": {
                    "type": "boolean",
                    "description": "Whether it should be an avian"
                  },
                  "canine": {
                    "type": "boolean",
                    "description": "Whether it should be a canine"
                  },
                  "feline": {
                    "type": "boolean",
                    "description": "Whether it should be a feline"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for animals search",
                  "properties": {
                    "page": {
                      "type": "object",
                      "description": "Object describing response page",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "description": "Zero-based page number",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size",
                          "format": "int32"
                        },
                        "numberOfElements": {
                          "type": "integer",
                          "description": "Number of elements in page",
                          "format": "int32"
                        },
                        "totalElements": {
                          "type": "integer",
                          "description": "Total elements found",
                          "format": "int32"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages found",
                          "format": "int32"
                        },
                        "firstPage": {
                          "type": "boolean",
                          "description": "Whether it is the first page"
                        },
                        "lastPage": {
                          "type": "boolean",
                          "description": "Whether it is the last page"
                        }
                      }
                    },
                    "sort": {
                      "type": "object",
                      "description": "Response sort",
                      "properties": {
                        "clauses": {
                          "type": "array",
                          "description": "List of response sort rules",
                          "items": {
                            "type": "object",
                            "description": "Single response sort clause",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Field name results are sorted by"
                              },
                              "direction": {
                                "type": "string",
                                "description": "Sort direction",
                                "enum": [
                                  "ASC",
                                  "DESC"
                                ]
                              },
                              "clauseOrder": {
                                "type": "integer",
                                "description": "Order in which this clause was applied"
                              }
                            },
                            "required": [
                              "name",
                              "direction",
                              "clauseOrder"
                            ]
                          }
                        }
                      }
                    },
                    "animals": {
                      "type": "array",
                      "description": "List of animals matching given criteria",
                      "items": {
                        "type": "object",
                        "description": "Base animal, returned in search results",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "Animal unique ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Animal name"
                          },
                          "earthAnimal": {
                            "type": "boolean",
                            "description": "Whether it's an earth animal"
                          },
                          "earthInsect": {
                            "type": "boolean",
                            "description": "Whether it's an earth insect"
                          },
                          "avian": {
                            "type": "boolean",
                            "description": "Whether it's an avian"
                          },
                          "canine": {
                            "type": "boolean",
                            "description": "Whether it's a canine"
                          },
                          "feline": {
                            "type": "boolean",
                            "description": "Whether it's a feline"
                          }
                        },
                        "required": [
                          "uid",
                          "name"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      }
    },
    "/astronomicalObject": {
      "get": {
        "tags": [
          "AstronomicalObject"
        ],
        "description": "Retrival of a single astronomical object",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "Astronomical object's unique ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for single astronomical object query",
                  "properties": {
                    "astronomicalObject": {
                      "type": "object",
                      "description": "Full astronomical object, returned when queried using UID",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "Astronomical object's unique ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Astronomical object name"
                        },
                        "astronomicalObjectType": {
                          "type": "string",
                          "description": "Astronomical object type",
                          "enum": [
                            "PLANET",
                            "D_CLASS_PLANET",
                            "H_CLASS_PLANET",
                            "GAS_GIANT_PLANET",
                            "K_CLASS_PLANET",
                            "L_CLASS_PLANET",
                            "M_CLASS_PLANET",
                            "Y_CLASS_PLANET",
                            "ROGUE_PLANET",
                            "ARTIFICIAL_PLANET",
                            "ASTEROID",
                            "ASTEROIDAL_MOON",
                            "ASTEROID_BELT",
                            "CLUSTER",
                            "COMET",
                            "CONSTELLATION",
                            "GALAXY",
                            "MOON",
                            "M_CLASS_MOON",
                            "NEBULA",
                            "PLANETOID",
                            "D_CLASS_PLANETOID",
                            "QUASAR",
                            "STAR",
                            "STAR_SYSTEM",
                            "SECTOR",
                            "REGION"
                          ]
                        },
                        "location": {
                          "type": "object",
                          "description": "Base astronomical object, returned in search results",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Astronomical object's unique ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Astronomical object name"
                            },
                            "astronomicalObjectType": {
                              "type": "string",
                              "description": "Astronomical object type",
                              "enum": [
                                "PLANET",
                                "D_CLASS_PLANET",
                                "H_CLASS_PLANET",
                                "GAS_GIANT_PLANET",
                                "K_CLASS_PLANET",
                                "L_CLASS_PLANET",
                                "M_CLASS_PLANET",
                                "Y_CLASS_PLANET",
                                "ROGUE_PLANET",
                                "ARTIFICIAL_PLANET",
                                "ASTEROID",
                                "ASTEROIDAL_MOON",
                                "ASTEROID_BELT",
                                "CLUSTER",
                                "COMET",
                                "CONSTELLATION",
                                "GALAXY",
                                "MOON",
                                "M_CLASS_MOON",
                                "NEBULA",
                                "PLANETOID",
                                "D_CLASS_PLANETOID",
                                "QUASAR",
                                "STAR",
                                "STAR_SYSTEM",
                                "SECTOR",
                                "REGION"
                              ]
                            },
                            "location": {
                              "type": "object",
                              "description": "Header astronomical object, embedded in other objects",
                              "properties": {
                                "uid": {
                                  "type": "string",
                                  "description": "Astronomical object's unique ID"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Astronomical object name"
                                }
                              },
                              "required": [
                                "uid",
                                "name"
                              ]
                            }
                          },
                          "required": [
                            "uid",
                            "name",
                            "astronomicalObjectType"
                          ]
                        },
                        "astronomicalObjects": {
                          "type": "array",
                          "description": "Astronomical objects located in this astronomical object, like planets in a star system",
                          "items": {
                            "type": "object",
                            "description": "Base astronomical object, returned in search results",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Astronomical object's unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Astronomical object name"
                              },
                              "astronomicalObjectType": {
                                "type": "string",
                                "description": "Astronomical object type",
                                "enum": [
                                  "PLANET",
                                  "D_CLASS_PLANET",
                                  "H_CLASS_PLANET",
                                  "GAS_GIANT_PLANET",
                                  "K_CLASS_PLANET",
                                  "L_CLASS_PLANET",
                                  "M_CLASS_PLANET",
                                  "Y_CLASS_PLANET",
                                  "ROGUE_PLANET",
                                  "ARTIFICIAL_PLANET",
                                  "ASTEROID",
                                  "ASTEROIDAL_MOON",
                                  "ASTEROID_BELT",
                                  "CLUSTER",
                                  "COMET",
                                  "CONSTELLATION",
                                  "GALAXY",
                                  "MOON",
                                  "M_CLASS_MOON",
                                  "NEBULA",
                                  "PLANETOID",
                                  "D_CLASS_PLANETOID",
                                  "QUASAR",
                                  "STAR",
                                  "STAR_SYSTEM",
                                  "SECTOR",
                                  "REGION"
                                ]
                              },
                              "location": {
                                "type": "object",
                                "description": "Header astronomical object, embedded in other objects",
                                "properties": {
                                  "uid": {
                                    "type": "string",
                                    "description": "Astronomical object's unique ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Astronomical object name"
                                  }
                                },
                                "required": [
                                  "uid",
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "uid",
                              "name",
                              "astronomicalObjectType"
                            ]
                          }
                        }
                      },
                      "required": [
                        "uid",
                        "name",
                        "astronomicalObjectType"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Error object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      }
    },
    "/astronomicalObject/search": {
      "get": {
        "tags": [
          "AstronomicalObject"
        ],
        "description": "Pagination over astronomical objects",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Zero-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for astronomical objects search",
                  "properties": {
                    "page": {
                      "type": "object",
                      "description": "Object describing response page",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "description": "Zero-based page number",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size",
                          "format": "int32"
                        },
                        "numberOfElements": {
                          "type": "integer",
                          "description": "Number of elements in page",
                          "format": "int32"
                        },
                        "totalElements": {
                          "type": "integer",
                          "description": "Total elements found",
                          "format": "int32"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages found",
                          "format": "int32"
                        },
                        "firstPage": {
                          "type": "boolean",
                          "description": "Whether it is the first page"
                        },
                        "lastPage": {
                          "type": "boolean",
                          "description": "Whether it is the last page"
                        }
                      }
                    },
                    "sort": {
                      "type": "object",
                      "description": "Response sort",
                      "properties": {
                        "clauses": {
                          "type": "array",
                          "description": "List of response sort rules",
                          "items": {
                            "type": "object",
                            "description": "Single response sort clause",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Field name results are sorted by"
                              },
                              "direction": {
                                "type": "string",
                                "description": "Sort direction",
                                "enum": [
                                  "ASC",
                                  "DESC"
                                ]
                              },
                              "clauseOrder": {
                                "type": "integer",
                                "description": "Order in which this clause was applied"
                              }
                            },
                            "required": [
                              "name",
                              "direction",
                              "clauseOrder"
                            ]
                          }
                        }
                      }
                    },
                    "astronomicalObjects": {
                      "type": "array",
                      "description": "List of astronomical objects matching given criteria",
                      "items": {
                        "type": "object",
                        "description": "Base astronomical object, returned in search results",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "Astronomical object's unique ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Astronomical object name"
                          },
                          "astronomicalObjectType": {
                            "type": "string",
                            "description": "Astronomical object type",
                            "enum": [
                              "PLANET",
                              "D_CLASS_PLANET",
                              "H_CLASS_PLANET",
                              "GAS_GIANT_PLANET",
                              "K_CLASS_PLANET",
                              "L_CLASS_PLANET",
                              "M_CLASS_PLANET",
                              "Y_CLASS_PLANET",
                              "ROGUE_PLANET",
                              "ARTIFICIAL_PLANET",
                              "ASTEROID",
                              "ASTEROIDAL_MOON",
                              "ASTEROID_BELT",
                              "CLUSTER",
                              "COMET",
                              "CONSTELLATION",
                              "GALAXY",
                              "MOON",
                              "M_CLASS_MOON",
                              "NEBULA",
                              "PLANETOID",
                              "D_CLASS_PLANETOID",
                              "QUASAR",
                              "STAR",
                              "STAR_SYSTEM",
                              "SECTOR",
                              "REGION"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "description": "Header astronomical object, embedded in other objects",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Astronomical object's unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Astronomical object name"
                              }
                            },
                            "required": [
                              "uid",
                              "name"
                            ]
                          }
                        },
                        "required": [
                          "uid",
                          "name",
                          "astronomicalObjectType"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Error object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      },
      "post": {
        "tags": [
          "AstronomicalObject"
        ],
        "description": "Searching astronomical objects",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Zero-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Astronomical object name"
                  },
                  "astronomicalObjectType": {
                    "type": "string",
                    "description": "Type of astronomical object"
                  },
                  "locationUid": {
                    "type": "string",
                    "description": "Unique ID of astronomical object containing objects being searched"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for astronomical objects search",
                  "properties": {
                    "page": {
                      "type": "object",
                      "description": "Object describing response page",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "description": "Zero-based page number",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size",
                          "format": "int32"
                        },
                        "numberOfElements": {
                          "type": "integer",
                          "description": "Number of elements in page",
                          "format": "int32"
                        },
                        "totalElements": {
                          "type": "integer",
                          "description": "Total elements found",
                          "format": "int32"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages found",
                          "format": "int32"
                        },
                        "firstPage": {
                          "type": "boolean",
                          "description": "Whether it is the first page"
                        },
                        "lastPage": {
                          "type": "boolean",
                          "description": "Whether it is the last page"
                        }
                      }
                    },
                    "sort": {
                      "type": "object",
                      "description": "Response sort",
                      "properties": {
                        "clauses": {
                          "type": "array",
                          "description": "List of response sort rules",
                          "items": {
                            "type": "object",
                            "description": "Single response sort clause",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Field name results are sorted by"
                              },
                              "direction": {
                                "type": "string",
                                "description": "Sort direction",
                                "enum": [
                                  "ASC",
                                  "DESC"
                                ]
                              },
                              "clauseOrder": {
                                "type": "integer",
                                "description": "Order in which this clause was applied"
                              }
                            },
                            "required": [
                              "name",
                              "direction",
                              "clauseOrder"
                            ]
                          }
                        }
                      }
                    },
                    "astronomicalObjects": {
                      "type": "array",
                      "description": "List of astronomical objects matching given criteria",
                      "items": {
                        "type": "object",
                        "description": "Base astronomical object, returned in search results",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "Astronomical object's unique ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Astronomical object name"
                          },
                          "astronomicalObjectType": {
                            "type": "string",
                            "description": "Astronomical object type",
                            "enum": [
                              "PLANET",
                              "D_CLASS_PLANET",
                              "H_CLASS_PLANET",
                              "GAS_GIANT_PLANET",
                              "K_CLASS_PLANET",
                              "L_CLASS_PLANET",
                              "M_CLASS_PLANET",
                              "Y_CLASS_PLANET",
                              "ROGUE_PLANET",
                              "ARTIFICIAL_PLANET",
                              "ASTEROID",
                              "ASTEROIDAL_MOON",
                              "ASTEROID_BELT",
                              "CLUSTER",
                              "COMET",
                              "CONSTELLATION",
                              "GALAXY",
                              "MOON",
                              "M_CLASS_MOON",
                              "NEBULA",
                              "PLANETOID",
                              "D_CLASS_PLANETOID",
                              "QUASAR",
                              "STAR",
                              "STAR_SYSTEM",
                              "SECTOR",
                              "REGION"
                            ]
                          },
                          "location": {
                            "type": "object",
                            "description": "Header astronomical object, embedded in other objects",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Astronomical object's unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Astronomical object name"
                              }
                            },
                            "required": [
                              "uid",
                              "name"
                            ]
                          }
                        },
                        "required": [
                          "uid",
                          "name",
                          "astronomicalObjectType"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-app-metadata": {
          "createdBy": "amir.zouerami",
          "createdAt": "2025-05-30T21:27:19.172Z",
          "lastEditedBy": "amir.zouerami",
          "lastEditedAt": "2025-05-30T21:27:19.172Z",
          "notes": []
        }
      }
    },
    "/book": {
      "get": {
        "tags": [
          "Book"
        ],
        "description": "Retrival of a single book",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "Book unique ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object for single book query",
                  "properties": {
                    "book": {
                      "type": "object",
                      "description": "Full book, returned when queried using UID",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "Book unique ID"
                        },
                        "title": {
                          "type": "string",
                          "description": "Book title"
                        },
                        "publishedYear": {
                          "type": "integer",
                          "description": "Year the book was published"
                        },
                        "publishedMonth": {
                          "type": "integer",
                          "description": "Month the book was published"
                        },
                        "publishedDay": {
                          "type": "integer",
                          "description": "Day the book was published"
                        },
                        "numberOfPages": {
                          "type": "integer",
                          "description": "Number of pages"
                        },
                        "stardateFrom": {
                          "type": "number",
                          "description": "Starting stardate of book story",
                          "format": "float"
                        },
                        "stardateTo": {
                          "type": "number",
                          "description": "Ending stardate of book story",
                          "format": "float"
                        },
                        "yearFrom": {
                          "type": "integer",
                          "description": "Starting year of book story"
                        },
                        "yearTo": {
                          "type": "integer",
                          "description": "Ending year of book story"
                        },
                        "novel": {
                          "type": "boolean",
                          "description": "Whether it's a novel"
                        },
                        "referenceBook": {
                          "type": "boolean",
                          "description": "Whether it's a reference book"
                        },
                        "biographyBook": {
                          "type": "boolean",
                          "description": "Whether it's a biography book"
                        },
                        "rolePlayingBook": {
                          "type": "boolean",
                          "description": "Whether it's a role playing book"
                        },
                        "eBook": {
                          "type": "boolean",
                          "description": "Whether it's an e-book"
                        },
                        "anthology": {
                          "type": "boolean",
                          "description": "Whether it's an anthology"
                        },
                        "novelization": {
                          "type": "boolean",
                          "description": "Whether it's a novelization"
                        },
                        "audiobook": {
                          "type": "boolean",
                          "description": "Whether it's an audiobook, or has been release as an audiobook in addition to other form"
                        },
                        "audiobookAbridged": {
                          "type": "boolean",
                          "description": "If it's an audiobook, whether it's been abridged"
                        },
                        "audiobookPublishedYear": {
                          "type": "integer",
                          "description": "Year the audiobook was published"
                        },
                        "audiobookPublishedMonth": {
                          "type": "integer",
                          "description": "Month the audiobook was published"
                        },
                        "audiobookPublishedDay": {
                          "type": "integer",
                          "description": "Day the audiobook was published"
                        },
                        "audiobookRunTime": {
                          "type": "integer",
                          "description": "Audiobook run time, in minutes"
                        },
                        "productionNumber": {
                          "type": "string",
                          "description": "Book production number"
                        },
                        "bookSeries": {
                          "type": "array",
                          "description": "Book series this book is included in",
                          "items": {
                            "type": "object",
                            "description": "Base book series, returned in search results",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Book series unique ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "Book series title"
                              },
                              "publishedYearFrom": {
                                "type": "integer",
                                "description": "Year from which the book series was published"
                              },
                              "publishedMonthFrom": {
                                "type": "integer",
                                "description": "Month from which the book series was published"
                              },
                              "publishedYearTo": {
                                "type": "integer",
                                "description": "Year to which the book series was published"
                              },
                              "publishedMonthTo": {
                                "type": "integer",
                                "description": "Month to which the book series was published"
                              },
                              "numberOfBooks": {
                                "type": "integer",
                                "description": "Number of pages"
                              },
                              "yearFrom": {
                                "type": "integer",
                                "description": "Starting year of book series stories"
                              },
                              "yearTo": {
                                "type": "integer",
                                "description": "Ending year of book series stories"
                              },
                              "miniseries": {
                                "type": "boolean",
                                "description": "Whether it's a miniseries"
                              },
                              "eBookSeries": {
                                "type": "boolean",
                                "description": "Whether it's a e-book series"
                              }
                            },
                            "required": [
                              "uid",
                              "title"
                            ]
                          }
                        },
                        "authors": {
                          "type": "array",
                          "description": "Authors of the book",
                          "items": {
                            "type": "object",
                            "description": "Base staff, returned in search results",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Staff unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Staff name"
                              },
                              "birthName": {
                                "type": "string",
                                "description": "Staff birth name"
                              },
                              "gender": {
                                "type": "string",
                                "description": "Gender",
                                "enum": [
                                  "F",
                                  "M"
                                ]
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "description": "Date the staff was born",
                                "format": "date"
                              },
                              "placeOfBirth": {
                                "type": "string",
                                "description": "Place the staff was born"
                              },
                              "dateOfDeath": {
                                "type": "string",
                                "description": "Date the staff died",
                                "format": "date"
                              },
                              "placeOfDeath": {
                                "type": "string",
                                "description": "Place the staff died"
                              },
                              "artDepartment": {
                                "type": "boolean",
                                "description": "Whether this person if from art department"
                              },
                              "artDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an art director"
                              },
                              "productionDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a production designer"
                              },
                              "cameraAndElectricalDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from camera and electrical department"
                              },
                              "cinematographer": {
                                "type": "boolean",
                                "description": "Whether this person is a cinematographer"
                              },
                              "castingDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from casting department"
                              },
                              "costumeDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from costume department"
                              },
                              "costumeDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a custume designer"
                              },
                              "director": {
                                "type": "boolean",
                                "description": "Whether this person is a director"
                              },
                              "assistantOrSecondUnitDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an assistant or secound unit director director"
                              },
                              "exhibitAndAttractionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is an exhibit and tttraction staff"
                              },
                              "filmEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a film editor"
                              },
                              "linguist": {
                                "type": "boolean",
                                "description": "Whether this person is a linguist"
                              },
                              "locationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a location staff"
                              },
                              "makeupStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a make-up staff"
                              },
                              "musicDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from music department"
                              },
                              "composer": {
                                "type": "boolean",
                                "description": "Whether this person is a composer"
                              },
                              "personalAssistant": {
                                "type": "boolean",
                                "description": "Whether this person is a personal assistant"
                              },
                              "producer": {
                                "type": "boolean",
                                "description": "Whether this person is a producer"
                              },
                              "productionAssociate": {
                                "type": "boolean",
                                "description": "Whether this person is a production associate"
                              },
                              "productionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a production staff"
                              },
                              "publicationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a publication staff"
                              },
                              "scienceConsultant": {
                                "type": "boolean",
                                "description": "Whether this person is a science consultant"
                              },
                              "soundDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from sound department"
                              },
                              "specialAndVisualEffectsStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special and visual effects staff"
                              },
                              "author": {
                                "type": "boolean",
                                "description": "Whether this person is an author"
                              },
                              "audioAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is an audio author"
                              },
                              "calendarArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a calendar artist"
                              },
                              "comicArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic artist"
                              },
                              "comicAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a comic author"
                              },
                              "comicColorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic color artist"
                              },
                              "comicInteriorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic interior artist"
                              },
                              "comicInkArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic ink artist"
                              },
                              "comicPencilArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic pencil artist"
                              },
                              "comicLetterArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic letter artist"
                              },
                              "comicStripArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic strip artist"
                              },
                              "gameArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a game artist"
                              },
                              "gameAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a game author"
                              },
                              "novelArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a novel artist"
                              },
                              "novelAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a novel author"
                              },
                              "referenceArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a reference artist"
                              },
                              "referenceAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a reference author"
                              },
                              "publicationArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "publicationDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a publication designer"
                              },
                              "publicationEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a publication editor"
                              },
                              "publicityArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "cbsDigitalStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of CBS digital staff"
                              },
                              "ilmProductionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of ILM production staff"
                              },
                              "specialFeaturesStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special features artist"
                              },
                              "storyEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a story editor"
                              },
                              "studioExecutive": {
                                "type": "boolean",
                                "description": "Whether this person is a studio executive"
                              },
                              "stuntDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from stunt department"
                              },
                              "transportationDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from transportation department"
                              },
                              "videoGameProductionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is video game production staff"
                              },
                              "writer": {
                                "type": "boolean",
                                "description": "Whether this person is a writer"
                              }
                            },
                            "required": [
                              "uid",
                              "name"
                            ]
                          }
                        },
                        "artists": {
                          "type": "array",
                          "description": "Artists involved in the book",
                          "items": {
                            "type": "object",
                            "description": "Base staff, returned in search results",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Staff unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Staff name"
                              },
                              "birthName": {
                                "type": "string",
                                "description": "Staff birth name"
                              },
                              "gender": {
                                "type": "string",
                                "description": "Gender",
                                "enum": [
                                  "F",
                                  "M"
                                ]
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "description": "Date the staff was born",
                                "format": "date"
                              },
                              "placeOfBirth": {
                                "type": "string",
                                "description": "Place the staff was born"
                              },
                              "dateOfDeath": {
                                "type": "string",
                                "description": "Date the staff died",
                                "format": "date"
                              },
                              "placeOfDeath": {
                                "type": "string",
                                "description": "Place the staff died"
                              },
                              "artDepartment": {
                                "type": "boolean",
                                "description": "Whether this person if from art department"
                              },
                              "artDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an art director"
                              },
                              "productionDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a production designer"
                              },
                              "cameraAndElectricalDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from camera and electrical department"
                              },
                              "cinematographer": {
                                "type": "boolean",
                                "description": "Whether this person is a cinematographer"
                              },
                              "castingDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from casting department"
                              },
                              "costumeDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from costume department"
                              },
                              "costumeDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a custume designer"
                              },
                              "director": {
                                "type": "boolean",
                                "description": "Whether this person is a director"
                              },
                              "assistantOrSecondUnitDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an assistant or secound unit director director"
                              },
                              "exhibitAndAttractionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is an exhibit and tttraction staff"
                              },
                              "filmEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a film editor"
                              },
                              "linguist": {
                                "type": "boolean",
                                "description": "Whether this person is a linguist"
                              },
                              "locationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a location staff"
                              },
                              "makeupStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a make-up staff"
                              },
                              "musicDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from music department"
                              },
                              "composer": {
                                "type": "boolean",
                                "description": "Whether this person is a composer"
                              },
                              "personalAssistant": {
                                "type": "boolean",
                                "description": "Whether this person is a personal assistant"
                              },
                              "producer": {
                                "type": "boolean",
                                "description": "Whether this person is a producer"
                              },
                              "productionAssociate": {
                                "type": "boolean",
                                "description": "Whether this person is a production associate"
                              },
                              "productionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a production staff"
                              },
                              "publicationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a publication staff"
                              },
                              "scienceConsultant": {
                                "type": "boolean",
                                "description": "Whether this person is a science consultant"
                              },
                              "soundDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from sound department"
                              },
                              "specialAndVisualEffectsStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special and visual effects staff"
                              },
                              "author": {
                                "type": "boolean",
                                "description": "Whether this person is an author"
                              },
                              "audioAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is an audio author"
                              },
                              "calendarArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a calendar artist"
                              },
                              "comicArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic artist"
                              },
                              "comicAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a comic author"
                              },
                              "comicColorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic color artist"
                              },
                              "comicInteriorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic interior artist"
                              },
                              "comicInkArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic ink artist"
                              },
                              "comicPencilArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic pencil artist"
                              },
                              "comicLetterArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic letter artist"
                              },
                              "comicStripArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic strip artist"
                              },
                              "gameArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a game artist"
                              },
                              "gameAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a game author"
                              },
                              "novelArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a novel artist"
                              },
                              "novelAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a novel author"
                              },
                              "referenceArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a reference artist"
                              },
                              "referenceAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a reference author"
                              },
                              "publicationArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "publicationDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a publication designer"
                              },
                              "publicationEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a publication editor"
                              },
                              "publicityArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "cbsDigitalStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of CBS digital staff"
                              },
                              "ilmProductionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of ILM production staff"
                              },
                              "specialFeaturesStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special features artist"
                              },
                              "storyEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a story editor"
                              },
                              "studioExecutive": {
                                "type": "boolean",
                                "description": "Whether this person is a studio executive"
                              },
                              "stuntDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from stunt department"
                              },
                              "transportationDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from transportation department"
                              },
                              "videoGameProductionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is video game production staff"
                              },
                              "writer": {
                                "type": "boolean",
                                "description": "Whether this person is a writer"
                              }
                            },
                            "required": [
                              "uid",
                              "name"
                            ]
                          }
                        },
                        "editors": {
                          "type": "array",
                          "description": "Editors involved in the book",
                          "items": {
                            "type": "object",
                            "description": "Base staff, returned in search results",
                            "properties": {
                              "uid": {
                                "type": "string",
                                "description": "Staff unique ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Staff name"
                              },
                              "birthName": {
                                "type": "string",
                                "description": "Staff birth name"
                              },
                              "gender": {
                                "type": "string",
                                "description": "Gender",
                                "enum": [
                                  "F",
                                  "M"
                                ]
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "description": "Date the staff was born",
                                "format": "date"
                              },
                              "placeOfBirth": {
                                "type": "string",
                                "description": "Place the staff was born"
                              },
                              "dateOfDeath": {
                                "type": "string",
                                "description": "Date the staff died",
                                "format": "date"
                              },
                              "placeOfDeath": {
                                "type": "string",
                                "description": "Place the staff died"
                              },
                              "artDepartment": {
                                "type": "boolean",
                                "description": "Whether this person if from art department"
                              },
                              "artDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an art director"
                              },
                              "productionDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a production designer"
                              },
                              "cameraAndElectricalDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from camera and electrical department"
                              },
                              "cinematographer": {
                                "type": "boolean",
                                "description": "Whether this person is a cinematographer"
                              },
                              "castingDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from casting department"
                              },
                              "costumeDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from costume department"
                              },
                              "costumeDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a custume designer"
                              },
                              "director": {
                                "type": "boolean",
                                "description": "Whether this person is a director"
                              },
                              "assistantOrSecondUnitDirector": {
                                "type": "boolean",
                                "description": "Whether this person is an assistant or secound unit director director"
                              },
                              "exhibitAndAttractionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is an exhibit and tttraction staff"
                              },
                              "filmEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a film editor"
                              },
                              "linguist": {
                                "type": "boolean",
                                "description": "Whether this person is a linguist"
                              },
                              "locationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a location staff"
                              },
                              "makeupStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a make-up staff"
                              },
                              "musicDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from music department"
                              },
                              "composer": {
                                "type": "boolean",
                                "description": "Whether this person is a composer"
                              },
                              "personalAssistant": {
                                "type": "boolean",
                                "description": "Whether this person is a personal assistant"
                              },
                              "producer": {
                                "type": "boolean",
                                "description": "Whether this person is a producer"
                              },
                              "productionAssociate": {
                                "type": "boolean",
                                "description": "Whether this person is a production associate"
                              },
                              "productionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a production staff"
                              },
                              "publicationStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a publication staff"
                              },
                              "scienceConsultant": {
                                "type": "boolean",
                                "description": "Whether this person is a science consultant"
                              },
                              "soundDepartment": {
                                "type": "boolean",
                                "description": "Whether this person is from sound department"
                              },
                              "specialAndVisualEffectsStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special and visual effects staff"
                              },
                              "author": {
                                "type": "boolean",
                                "description": "Whether this person is an author"
                              },
                              "audioAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is an audio author"
                              },
                              "calendarArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a calendar artist"
                              },
                              "comicArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic artist"
                              },
                              "comicAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a comic author"
                              },
                              "comicColorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic color artist"
                              },
                              "comicInteriorArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic interior artist"
                              },
                              "comicInkArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic ink artist"
                              },
                              "comicPencilArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic pencil artist"
                              },
                              "comicLetterArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic letter artist"
                              },
                              "comicStripArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a comic strip artist"
                              },
                              "gameArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a game artist"
                              },
                              "gameAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a game author"
                              },
                              "novelArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a novel artist"
                              },
                              "novelAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a novel author"
                              },
                              "referenceArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a reference artist"
                              },
                              "referenceAuthor": {
                                "type": "boolean",
                                "description": "Whether this person is a reference author"
                              },
                              "publicationArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "publicationDesigner": {
                                "type": "boolean",
                                "description": "Whether this person is a publication designer"
                              },
                              "publicationEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a publication editor"
                              },
                              "publicityArtist": {
                                "type": "boolean",
                                "description": "Whether this person is a publication artist"
                              },
                              "cbsDigitalStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of CBS digital staff"
                              },
                              "ilmProductionStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a part of ILM production staff"
                              },
                              "specialFeaturesStaff": {
                                "type": "boolean",
                                "description": "Whether this person is a special features artist"
                              },
                              "storyEditor": {
                                "type": "boolean",
                                "description": "Whether this person is a story editor"
                              },
                              "studioExecutive": {
[...]
